/*

TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

---------------------------------------------
Table of contents
------------------------------------------------
1. Typography
2. General
3. Nav
4. Hero Carousel
5. Accordion
6. Shop
7. Product
8. Carousel Hero
9. Carousel Brand
10. Services
11. Contact map
12. Footer
13. Small devices (landscape phones, 576px and up)
14. Medium devices (tablets, 768px and up)
15. Large devices (desktops, 992px and up)
16. Extra large devices (large desktops, 1200px and up)
--------------------------------------------- */

@font-face {
  font-family: 'thin';
  src: url(../fonts/myriad-set-pro-thin-webfont.ttf);
}
@font-face {
  font-family: text;
  src: url(../fonts/myriad-set-pro_text-webfont.ttf);
}

*{
  box-sizing: border-box;
}
/* Typography */
body, ul, li, p, a, label, input, div {
  font-family: thin;
  /* font-size: 18px !important; */
  /* font-weight: 300 !important; */
}
.par{
  font-size: 20px;
}

.h1 {
  /* font-size: 48px !important; */
  font-weight: 300 !important;
  color: #000;
  font-size: 64px;
  line-height: 1;
}
.h1-c {
  font-weight: 300 !important;
  color: white;
  font-size: 64px;
  line-height: 1;
}

.bg-light1{
  background-color: #f4f4f4d5;
}
.headings{
  font-size: clamp(1.8em ,2.5em, 2.5em);
  line-height: 3rem;
  color:#323232;
  font-weight: 300;
}
.headings2{
  font-size: clamp(1.8em ,2.1em, 2.5em);
  line-height: 3rem;
  color:#323232;
  font-weight: 300;
  margin-top: .3em;
  margin-bottom: .3em;
}
.pcreate{
  font-size: 1.2em; font-weight: 200; line-height: 1.4; color: #787878;
}
.h3create{
  font-size: 1.5em; font-weight: 300; color: #323232;
  padding-block: 1em;
}
.pbrands{
  font-family: 'text';
  font-size: 1.1em;
  color: #323232
}
.pbrands-c{
  font-family: 'text';
  font-size: 1.1em;
  color: #323232
}
.link{
  text-decoration: none;
   cursor: pointer;
    font-size: 1.2em;
     font-weight: 300;
}
.btn-success1{
  background-color: #30733f;
  color: white;
}
.testimonials{
  font-size: clamp(1em, 1.8vw, 2em);
}
.max-width-custom{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.p-max-width-custom{
  font-size: 1.1em;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'text';
}
.fa-xsm{
  font-weight: 200;
}
.nav50{
  width: 45%;
}
.rounded1{
  border-radius: 17px;
}
.rounded2{
  border-radius: 10px;
}
.padding-custom{
  padding: .4em .7em;
  font-size: 1.1em;
}
.img{
  background-image: url('/Proscene/assets/img/actionproscene.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 21rem;
  color: white !important;
  min-height: 21rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.p-learnmore-c{
  line-height: 1.6666666667rem;
   font-weight: 100;
}
.custom-light-grey-outline {
  border: 1px solid #817e7e !important;
}

@media (max-width:560px) {
  .headings{
    font-size: 2em;
  }
  .pbrands{
    font-size: 1.1em;
  }
  .p-max-width-custom{
    font-size: 1.01em;
  }
  .center1{
    text-align: center;
    }
    .custom-padding{
      padding-block: .4em;
    }
    .custom-padding-bottom{
      padding-bottom: .1em;
    }
    .headings2{
      line-height: 2.5rem;
    }
    .padding-custom{
      padding: .4em 1.6em;
    }
    .margin-custom{
      margin-top: 0 !important;
    padding-top: 0 !important;
    }
    .margin-custom1{
      padding-top: 1.5em;
    }
    .margin-custom-image{
      margin-top: 2.7em;
      margin-bottom:1.4em;
    }
    /* .p-learnmore{
      font-size: ;
    } */
    .img{
      background-image: url('/Proscene/assets/img/learnmoresmall.png');
      background-size: cover;
      background-position: center;
  background-repeat: no-repeat;
  min-height: 15rem;
  color: white !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
    }
    .h1-c{
      font-size: 42px;
      padding-inline: .1em;
    }

    .pbrands-c{
      font-size: 16px;
    }
}

/* General */
.logo { font-weight: 500 !important;}
.text-warning {  color: #ede861 !important;}
.text-muted { color: #bcbcbc !important;}
.text-success { color: #59ab6e !important;}
.text-light { color: #cfd6e1 !important;}
.bg-dark { background-color: #212934 !important;}
.bg-light { background-color: #e9eef5 !important;}
.bg-black { background-color: #1d242d !important;}
.bg-success { background-color: #59ab6e !important;}
.btn-success {
  background-color: #59ab6e !important;
  border-color: #56ae6c !important;
}
.pagination .page-link:hover {color: #000;}
.pagination .page-link:hover, .pagination .page-link.active {
  background-color: #69bb7e;
  color: #fff;
}
/* Nav */
#templatemo_nav_top { min-height: 35px;}
#templatemo_nav_top * { font-size: .9em !important;}
#templatemo_main_nav a { color: #212934;}
#templatemo_main_nav a:hover { color: #69bb7e;}
#templatemo_main_nav .navbar .nav-icon { margin-right: 20px;}

/* Hero Carousel */
#template-mo-zay-hero-carousel { background: #efefef !important;}
/* Accordion */
.templatemo-accordion a { color: #000;}
.templatemo-accordion a:hover { color: #333d4a;}
/* Shop */
.shop-top-menu a:hover { color: #69bb7e !important;}
/* Product */
.product-wap { box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);}
.product-wap .product-color-dot.color-dot-red { background:#f71515;}
.product-wap .product-color-dot.color-dot-blue { background:#6db4fe;}
.product-wap .product-color-dot.color-dot-black { background:#000000;}
.product-wap .product-color-dot.color-dot-light { background:#e0e0e0;}
.product-wap .product-color-dot.color-dot-green { background:#0bff7e;}
.card.product-wap .card .product-overlay {
  background: rgba(0,0,0,.2);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}
.card.product-wap a { color: #000;}
#carousel-related-product .slick-slide:focus { outline: none !important;}
#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}
/* Brand */
.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: .5s;
}
.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
/* Carousel Hero */
#template-mo-zay-hero-carousel .carousel-indicators li {
  margin-top: -50px;
  background-color: #59ab6e;
}
#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
  color: #59ab6e !important;
  font-size: 2.8em !important;
}
/* Carousel Brand */
.tempaltemo-carousel .h1 {
  font-size: .5em !important;
  color: #000 !important;
}

@media (min-width:600px) {
  .text-custom{
    text-align: left;
  }
}

/* Services */
.services-icon-wap {transition: .3s;}
.services-icon-wap:hover, .services-icon-wap:hover i {color: #fff;}
.services-icon-wap:hover {background: #69bb7e;}
/* Contact map */
.leaflet-control a, .leaflet-control { font-size: 10px !important;}
.form-control { border: 1px solid #e8e8e8;}
/* Footer */
#tempaltemo_footer a { color: #404042;}
#tempaltemo_footer a:hover { color: #68bb7d;}
#tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#tempaltemo_footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: .5s;
}
#tempaltemo_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#tempaltemo_footer .border-light { border-color: #2d343f !important;}
/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
  font-size: 12px !important;
}
.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}

@media (min-width: 576px) {
  .tempaltemo-carousel .h1 { font-size: 1em !important;}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #templatemo_main_nav .navbar-nav {max-width: 450px;}
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #templatemo_main_nav .navbar-nav {max-width: 550px;}
  #template-mo-zay-hero-carousel .carousel-item {min-height: 30rem !important;}
  .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
  .product-wap .product-color-dot {
    width: 12px;
    height: 12px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

